@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
    font-family: "Inter";
    font-size: 16px;
}

.car_info_options {
    padding: 10px;
}

.info-select {
    margin-top: 5px;
    display: block;
    width: 170px;
    padding: 10px;
    border: 1px solid #ccc;
}
